
title: Cyber Defense & Forensic Investigations Portfolio
email: 
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.

minimal_mistakes_skin: dark
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
#paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages


plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Riccardo Temporin"
  avatar : "/assets/images/my_ph.jpeg"
  bio    : "Passionate about cybersecurity, particularly Blue Team, with a focus on threat hunting, digital forensics, and incident response."
  links:
    - label: "LinkedIn"
      icon: "fa-brands fa-linkedin"
      url: "https://linkedin.com/in/riccardo-temporin-a2aaa3209"

#footer:
  



category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

collections:
  posts:
    output: true
    permalink: /:collection/:path/

atom_feed:
  hide: true
